@keyframes menu {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  60% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    margin-top: 0px;
    transform: translateY(0);
  }
}
/*@font-face {
    font-family: "roboto";
    src: url("../font-family/Roboto/Roboto-Regular.ttf") format("truetype"),
    url("../font-family/Roboto/Roboto-Black.ttf") format("truetype"),
    url("../font-family/Roboto/Roboto-BlackItalic.ttf") format("truetype"),
    url("../font-family/Roboto/Roboto-Bold.ttf") format("truetype"),
    url("../font-family/Roboto/Roboto-BoldItalic.ttf") format("truetype"),
    url("../font-family/Roboto/Roboto-Italic.ttf") format("truetype"),
    url("../font-family/Roboto/Roboto-Light.ttf") format("truetype"),
    url("../font-family/Roboto/Roboto-LightItalic.ttf") format("truetype"),
    url("../font-family/Roboto/Roboto-Medium.ttf") format("truetype"),
    url("../font-family/Roboto/Roboto-MediumItalic.ttf") format("truetype"),
    url("../font-family/Roboto/Roboto-Thin.ttf") format("truetype"),
    url("../font-family/Roboto/Roboto-ThinItalic.ttf") format("truetype");

}*/
@font-face {
  font-family: "shrikhand";
  src: url("../font-family/Shrikhand/Shrikhand-Regular.ttf");
}
a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

h2 {
  text-align: left;
  margin-left: 20px;
  font-weight: 700;
}

.shadow {
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.button {
  background: radial-gradient(ellipse farthest-corner at bottom right, #9356DC, #FF79DA);
  color: white;
  border: none;
  padding: 20px 50px 20px 50px;
  border-radius: 50px;
}

body {
  font-family: "roboto";
  font-weight: 400;
  width: 100%;
  text-align: center;
  margin: 0;
  font-size: 20px;
  line-height: 35px;
}

header h1 .header__logo {
  width: 200px;
  height: 40px;
}

.header__index {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}
.header__index h1 {
  margin: 0;
}

header .header__flex {
  display: flex;
}
header .header__flex a {
  width: 10%;
  position: absolute;
}
header .header__flex a i {
  position: relative;
  top: 30px;
}
header .header__flex h1 {
  width: 90%;
}
header .header__flex h1 .header__logo {
  width: 200px;
  height: 40px;
}
header .header__vignette {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

footer {
  background-color: #353535;
  color: white;
  text-align: left;
  padding-top: 3px;
  padding-bottom: 5px;
}
footer .footer__block h4 {
  font-family: "shrikhand";
  margin-left: 15px;
}
footer .footer__block .footer__list {
  padding: 0;
  margin-left: 15px;
}
footer .footer__block .footer__list .footer__link {
  color: white;
}
footer .footer__block .footer__list .footer__link i {
  padding-right: 15px;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.local {
  padding: 1px 0 1px 0;
  background-color: #eaeaea;
}
.local i {
  padding-right: 10px;
}

.book {
  background-color: #f6f6f6;
  padding-top: 30px;
  padding-bottom: 40px;
}
.book .book__title {
  width: 80%;
  margin: auto;
  text-align: center;
}
.book .book__txt {
  line-height: 25px;
  font-weight: 100;
}
.book .button {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.fonction .fonction__board {
  list-style-type: none;
}
.fonction .fonction__board .fonction__list {
  padding: 20px 0 20px 0;
}
.fonction .fonction__board .fonction__list a {
  display: inline-block;
  position: relative;
  background-color: #f6f6f6;
  border-radius: 20px;
  padding: 15px 0 15px 0;
  width: 90%;
  text-align: left;
}
.fonction .fonction__board .fonction__list a i {
  color: grey;
  display: inline-block;
  width: 40px;
  padding-right: 15px;
  padding-left: 35px;
  text-align: center;
}
.fonction .fonction__board .fonction__list .fonction__num {
  background-color: #9356DC;
  color: white;
  padding: 3px;
  font-size: 15px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: -11px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fonction .fonction__board .fonction__list :hover {
  background-color: #f5edff;
}
.fonction .fonction__board .fonction__list :hover i {
  color: #9356DC;
}

.restaurants {
  background-color: #f6f6f6;
  padding-top: 20px;
}
.restaurants .cards > div {
  width: 100%;
}
.restaurants .cards > div .card {
  position: relative;
  display: inline-block;
  width: 90%;
  border-radius: 25px 25px 25px 25px;
  margin-bottom: 20px;
}
.restaurants .cards > div .card img {
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}
.restaurants .cards > div .card .card__new {
  display: inline-block;
  background-color: #99E2D0;
  color: #279e80;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 3px 10px 3px 10px;
  font-size: 15px;
}
.restaurants .cards > div .card .card__flex {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 20px 0;
}
.restaurants .cards > div .card .card__flex .card__flex__txt {
  flex-grow: 1;
  text-align: left;
  margin-left: 10px;
}
.restaurants .cards > div .card .card__flex .card__flex__txt h3 {
  margin: 0;
}
.restaurants .cards > div .card .card__flex .card__flex__txt span {
  font-weight: 100;
}
.restaurants .cards > div .card .card__flex .card__flex__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
}
.restaurants .cards > div .card .card__flex .card__flex__icon .love2 {
  display: none;
  transition: 0.4s ease-in-out;
}
.restaurants .cards > div .card .card__flex .card__flex__icon:hover .love1 {
  display: none;
}
.restaurants .cards > div .card .card__flex .card__flex__icon:hover .love2 {
  display: inline-block;
  background: radial-gradient(ellipse farthest-corner at bottom right, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@media screen and (min-width: 970px) {
  .fonction .fonction__board {
    display: flex;
    justify-content: space-between;
  }
  .fonction .fonction__board .fonction__list {
    width: 33%;
  }
  .fonction .fonction__board .fonction__list a i {
    padding-left: 20px;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .cards > div {
    max-width: 50%;
  }
}
.menu {
  background-color: #f6f6f6;
  position: relative;
  margin-top: -70px;
  border-radius: 25px 25px 0 0;
  padding: 10px 0 10px 0;
}
.menu .menu__title {
  display: flex;
  justify-content: space-between;
  font-family: "shrikhand";
}
.menu .menu__title i {
  margin-right: 20px;
}
.menu .menu__title .love2 {
  display: none;
  transition: 0.4s ease-in-out;
}
.menu .menu__title:hover .love1 {
  display: none;
}
.menu .menu__title:hover .love2 {
  display: inline-block;
  background: radial-gradient(ellipse farthest-corner at bottom right, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.menu .menu__recipe {
  text-align: left;
  margin-left: 20px;
}
.menu .menu__recipe .menu__recipe__title {
  margin-top: 40px;
  padding: 0;
  font-weight: 100;
  position: relative;
}
.menu .menu__recipe .menu__recipe__title::after {
  content: "";
  display: inline-block;
  height: 3px;
  width: 50px;
  background-color: #99E2D0;
  position: absolute;
  bottom: -3px;
  left: 0;
}
.menu .menu__recipe .menu__recipe__list {
  background-color: white;
  border-radius: 25px;
  padding-left: 10px;
  display: flex;
  margin-bottom: 20px;
  animation-name: menu;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  transition: 0.6s ease-in-out;
}
.menu .menu__recipe .menu__recipe__list .menu_flex {
  display: flex;
  position: relative;
  width: 100%;
  transition: 1s;
}
.menu .menu__recipe .menu__recipe__list .menu_flex .menu__info {
  width: 80%;
}
.menu .menu__recipe .menu__recipe__list .menu_flex .menu__info h4 {
  margin-top: 7px;
  margin-bottom: 0;
  padding-bottom: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu .menu__recipe .menu__recipe__list .menu_flex .menu__info p {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 7px;
  font-weight: 100;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu .menu__recipe .menu__recipe__list .menu_flex .menu__prix {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 7px;
  margin-right: 15px;
}
.menu .menu__recipe .menu__recipe__list .menu__check {
  position: absolute;
  background-color: #99E2D0;
  right: -100%;
  padding: 24px;
  border-radius: 0 25px 25px 0;
  transition: 1s;
}
.menu .menu__recipe .menu__recipe__list .menu__check i {
  color: white;
  font-size: 30px;
}
.menu .menu__recipe .menu__recipe__list:hover .menu__check {
  right: 0;
}
.menu .menu__recipe .menu__recipe__list:hover .menu_flex {
  width: calc(100% - 80px);
}
.menu .menu_pop {
  animation-delay: 0s;
}
.menu .menu_pop1 {
  animation-delay: 0.2s;
}
.menu .menu_pop2 {
  animation-delay: 0.4s;
}
.menu .menu_pop3 {
  animation-delay: 0.6s;
}
.menu .menu_pop4 {
  animation-delay: 0.8s;
}
.menu .menu_pop5 {
  animation-delay: 1s;
}
.menu .menu_pop6 {
  animation-delay: 1.2s;
}
.menu .menu_pop7 {
  animation-delay: 1.4s;
}
.menu .menu_pop8 {
  animation-delay: 1.8s;
}
.menu .button {
  display: inline-block;
  margin: 25px 0 25px 0;
}

@media screen and (min-width: 970px) {
  .menu {
    width: 95%;
    margin-left: 3%;
    margin-right: 3%;
  }
  .menu .menu__recipe {
    display: flex;
  }
  .menu .menu__recipe .menu__box {
    width: 20%;
  }
}

/*# sourceMappingURL=styles.css.map */
