@font-face {
  font-family: "roboto";
  src: url("../font-family/Roboto/Roboto-Black.ttf"), url("../font-family/Roboto/Roboto-BlackItalic.ttf"), url("../font-family/Roboto/Roboto-Bold.ttf"), url("../font-family/Roboto/Roboto-BoldItalic.ttf"), url("../font-family/Roboto/Roboto-Italic.ttf"), url("../font-family/Roboto/Roboto-Light.ttf"), url("../font-family/Roboto/Roboto-LightItalic.ttf"), url("../font-family/Roboto/Roboto-Medium.ttf"), url("../font-family/Roboto/Roboto-MediumItalic.ttf"), url("../font-family/Roboto/Roboto-Regular.ttf"), url("../font-family/Roboto/Roboto-Thin.ttf"), url("../font-family/Roboto/Roboto-ThinItalic.ttf");
}
@font-face {
  font-family: "shrikhand";
  src: url("../font-family/Shrikhand/Shrikhand-Regular.ttf");
}
a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

h2 {
  text-align: left;
  margin-left: 20px;
}

h4 {
  font-family: "shrikhand";
}

.shadow {
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.button {
  background: radial-gradient(ellipse farthest-corner at bottom right, #9356DC, #FF79DA);
  color: white;
  border: none;
  padding: 20px;
  border-radius: 50px;
}

body {
  font-family: "roboto";
  width: 100%;
  text-align: center;
  margin: 0;
  font-size: 20px;
  line-height: 35px;
}

header h1 .header__logo img {
  width: 200px;
  height: 40px;
}

header .header__flex {
  display: flex;
}
header .header__flex a {
  width: 10%;
}
header .header__flex h1 {
  width: 90%;
}
header .header__flex h1 .header__logo {
  width: 200px;
  height: 40px;
}
header .header__vignette {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

footer {
  background-color: #353535;
  color: white;
  text-align: left;
  padding-top: 3px;
  padding-bottom: 5px;
}
footer .footer__block h4 {
  margin-left: 15px;
}
footer .footer__block .footer__list {
  padding: 0;
  margin-left: 15px;
}
footer .footer__block .footer__list .footer__link {
  color: white;
}
footer .footer__block .footer__list .footer__link i {
  padding-right: 15px;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.local {
  padding: 1px 0 1px 0;
  background-color: #eaeaea;
}
.local i {
  padding-right: 10px;
}

.book {
  background-color: #f6f6f6;
  padding-top: 30px;
  padding-bottom: 40px;
}
.book .book__title {
  width: 80%;
  margin: auto;
  text-align: center;
}
.book .book__txt {
  line-height: 25px;
}
.book .button {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.fonction .fonction__board {
  list-style-type: none;
}
.fonction .fonction__board .fonction__list {
  padding: 20px 0 20px 0;
}
.fonction .fonction__board .fonction__list a {
  display: inline-block;
  position: relative;
  background-color: #f6f6f6;
  border-radius: 20px;
  padding: 15px 0 15px 0;
  width: 90%;
}
.fonction .fonction__board .fonction__list a i {
  color: grey;
  display: inline-block;
  width: 15px;
}
.fonction .fonction__board .fonction__list .fonction__num {
  background-color: #9356DC;
  color: white;
  padding: 3px;
  font-size: 10px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: -11px;
  width: 25px;
  height: 25px;
}
.fonction .fonction__board .fonction__list :hover {
  background-color: #f5edff;
}

.restaurants {
  background-color: #f6f6f6;
  padding-top: 20px;
}
.restaurants .cards > div {
  width: 100%;
}
.restaurants .cards > div .card {
  position: relative;
  display: inline-block;
  width: 90%;
  border-radius: 25px 25px 25px 25px;
  margin-bottom: 20px;
}
.restaurants .cards > div .card img {
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}
.restaurants .cards > div .card .card__new {
  display: inline-block;
  background-color: #99E2D0;
  color: #279e80;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 3px 7px 3px 7px;
  font-size: 15px;
}
.restaurants .cards > div .card .card__flex {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 20px 0;
}
.restaurants .cards > div .card .card__flex .card__flex__txt {
  flex-grow: 1;
  text-align: left;
  margin-left: 10px;
}
.restaurants .cards > div .card .card__flex .card__flex__txt h3 {
  margin: 0;
}
.restaurants .cards > div .card .card__flex .card__flex__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
}
.restaurants .cards > div .card .card__flex .card__flex__icon :hover {
  color: red;
}

.menu {
  background-color: #f6f6f6;
  position: relative;
  top: -70px;
  border-radius: 25px 25px 0 0;
  padding: 10px 0 10px 0;
}
.menu .menu__title {
  display: flex;
  justify-content: space-between;
}
.menu .menu__title i {
  margin-right: 20px;
}
.menu .menu__recipe {
  text-align: left;
  margin-left: 20px;
}
.menu .menu__recipe .menu__recipe__title {
  margin-top: 40px;
  padding: 0;
}
.menu .menu__recipe .menu__recipe__list {
  background-color: white;
  border-radius: 25px;
  padding-left: 10px;
  display: flex;
  margin-bottom: 20px;
}
.menu .menu__recipe .menu__recipe__list .menu__info {
  width: 80%;
}
.menu .menu__recipe .menu__recipe__list .menu__info h4 {
  margin-top: 7px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.menu .menu__recipe .menu__recipe__list .menu__info p {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 7px;
}
.menu .menu__recipe .menu__recipe__list .menu__prix {
  width: 20%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 7px;
}
.menu .menu__recipe .menu__recipe__list .menu__check {
  display: none;
}
.menu .button {
  display: inline-block;
  margin: 25px 0 25px 0;
}

/*# sourceMappingURL=styles.css.map */
