footer {
    background-color: #353535;
    color: white;
    text-align: left;
    padding-top: 3px;

    .footer__block {
        h4 {
            margin-left: 15px;
        }
        .footer__list {
            .footer__link {
                color: white;

                i {
                    padding-right: 15px;
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}