/*@font-face {
    font-family: "roboto";
    src: url("../font-family/Roboto/Roboto-Regular.ttf") format("truetype"),
    url("../font-family/Roboto/Roboto-Black.ttf") format("truetype"),
    url("../font-family/Roboto/Roboto-BlackItalic.ttf") format("truetype"),
    url("../font-family/Roboto/Roboto-Bold.ttf") format("truetype"),
    url("../font-family/Roboto/Roboto-BoldItalic.ttf") format("truetype"),
    url("../font-family/Roboto/Roboto-Italic.ttf") format("truetype"),
    url("../font-family/Roboto/Roboto-Light.ttf") format("truetype"),
    url("../font-family/Roboto/Roboto-LightItalic.ttf") format("truetype"),
    url("../font-family/Roboto/Roboto-Medium.ttf") format("truetype"),
    url("../font-family/Roboto/Roboto-MediumItalic.ttf") format("truetype"),
    url("../font-family/Roboto/Roboto-Thin.ttf") format("truetype"),
    url("../font-family/Roboto/Roboto-ThinItalic.ttf") format("truetype");
    
}*/

@font-face {
    font-family: "shrikhand";
    src: url("../font-family/Shrikhand/Shrikhand-Regular.ttf");
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

h2 {
    text-align: left;
    margin-left: 20px;
    font-weight: 700;
}

.shadow {
    box-shadow: .25rem .25rem 10px rgba(0,0,0,.5);
}

